
.box{
    text-align: center;
    bottom: auto;
}

#star{
    width:100px;
    height: 100px;
    object-fit: cover;
    position: relative;
    text-align: center;
    bottom: 325px;
}
#box{
    width: 500px;
    height: 500px;
}